@import url(./assets/fonts/Kanit/stylesheet.css);
* {
  font-family: 'Kanit';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #536976, #292e49);
}

.App {
  min-height: 0vh;
  background: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 30px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.166);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.list_title {
  font-size: 25px;
  font-weight: 500;
}

